.footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 5%;
  background: #011950;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 50px;
  color: white;
  font-weight: 700;
}

.logo img {
  height: 120px;
  width: auto;
}
.ubicacion {
    font-size: 16px;
    color: white;
    display: flex;
    padding: 5px 5%;
    margin-bottom: 2px;
    margin-top: 30px;
    flex-direction: column;
    }

.ubicacion a{
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 10vh;
    text-decoration: none;
}
.social-media {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   height: 20vh;
  line-height: 5vh;
  padding-left: 30px;
  bottom: 10px;
  
  justify-content: space-between;
}
.social-media a {
  display: block;
  position: center;
  color: white;
  text-decoration: none;
  font-size: 1.6em;
  text-align: center;
}
.social-media a i {
    margin-right: 20px; 
  }
.social-media a:last-child {
  margin-right: 0;
  position: center;
}

.derechos {
  color: white;
}
