
.header-nav {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 5%;
    background:#011950;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    margin-bottom: 10px;
    
  }
  
  .logo {
    font-size: 40%;
    color: white;
    font-weight: 800;
  }
  
  .logo img {
    margin-top: 10px;
    height: 70px;
    width:70px;
   
  }
  
  .nav-item {
    color: white;
    text-decoration: none;
    transition: 0.3s;
    margin: 0 100px;
    z-index: 1;
    position: relative;

  }
  .nav-item.active {
    color: #34cdab; 
}
  
  .nav-item:not(.is-active):hover {
    color: #32d874;
  }
  
  .nav-item:not(.is-active):hover::before {
    opacity: 1;
    bottom: 0;
  }
  
  .nav-item:hover::before {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
  }
 
  .navbar a {
    position: relative;
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin-left: 60px;
  }
  
  .navbar a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    transform: scaleX(0);
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .navbar a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .Button-head{
    border-radius: 5px;
    color: white;
    background-image: linear-gradient(to left, #34cdab, #32d874);
  }